<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="komoot App automation Suite">
  <test name="Different feature Test">
    <classes>
      <class name="com.komoot.qa.page.HomePageTest"/>
      <class name="com.komoot.qa.page.SignupPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
